@import "tailwindcss";

@plugin "daisyui" {
  themes: bazardor --default;
}

@theme {
  --color-primary: #16a34a;
  --color-primary-content: #ffffff;
}

html {
  scroll-behavior: smooth;
}

@keyframes ticker {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-ticker {
  animation: ticker 40s linear infinite;
}

body {
  font-family: 'Hind Siliguri', system-ui, sans-serif;
}